.textGreen {
    color: #A8D85D;
    font-weight: bold;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: .2rem;
    margin-top: 2.5rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0.625rem;
    margin-top: 3.75rem;
}

.subtitle {
    margin: 0;
    font-size: 2.5rem;
    color: #000000;
}

.mainTitle {
    margin: 0.625rem 0;
    font-size: 2.5rem;
    color: #000000;
}

.card {
    width: 18.75rem;
    height: 21.875rem;
    border-radius: 0.625rem;
    color: rgb(255, 255, 255);
    padding: 3.75rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s, background-image 0.3s;
}

.card:hover {
    transform: scale(1.10);
}

.title {
    margin-top: 7.5rem;
    font-size: 1rem;
    color: rgb(67, 67, 67);
    transition: color 0.3s;
}

.features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features li {
    margin: 0;
    position: relative;
    padding-left: 1.25rem;
    color: rgb(58, 58, 58);
    transition: color 0.3s;
}

.card:hover .features li {
    color: #fff;
}

.features li::before {
    content: '✔';
    color: #A8D85D;
    position: absolute;
    left: 0;
}

/* Background images remain unchanged */
.card1 {
    background-image: url('/public/images/features_cards/green_infrastructure_card.png');
}

.card1:hover {
    background-image: url('/public/images/features_cards/hover_infrastructure_card.png');
}

.card2 {
    background-image: url('/public/images/features_cards/green_mentor_card.png');
}

.card2:hover {
    background-image: url('/public/images/features_cards/hover_mentor_card.png');
}

.card3 {
    background-image: url('/public/images/features_cards/green_growth_card.png');
}

.card3:hover {
    background-image: url('/public/images/features_cards/hover_growth_card.png');
}

/* Responsive styles adjusted */
@media screen and (max-width: 480px) {
    .cardsContainer {
        flex-direction: column;
        align-items: center;
        gap: 1.875rem;
        margin-top: 1.25rem;
    }
    
    .card {
        width: 90%;
        max-width: 18.75rem;
        height: 25rem;
        padding: 1.25rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .title {
        margin-top: 12.5rem;
        margin-bottom: 0.625rem;
        font-size: 0.875rem;
        position: relative;
        z-index: 1;
    }

    .features {
        position: relative;
        z-index: 1;
        margin-top: 0.3125rem;
    }

    .features li {
        margin-bottom: 0.3125rem;
        line-height: 1.3;
    }

    .titleContainer {
        margin-top: 1.875rem;
        padding: 0.3125rem;
    }

    .mainTitle {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.125rem;
    }
}