/* Mentor.css */
.mentors {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
    background-color: #ffffff;
    height: 50vh; /* Full height to center the content */
    margin-bottom: 400px;
}

.mentor-image {
    margin-top: 0px;
    max-width: 60%; /* Limit the width of the image */
    z-index: 200;
}

.mentor-card:nth-child(2) {
    margin-left: 100px; /* Move the middle card to the right */
}

.mentor-image img {
    width: 50%;
    height: auto;
    margin-left: -10px;
}

.mentor-display {
    flex: 1;
    margin-top: 5px;
    position: relative;
    height: 100px; /* Fixed height to ensure only 3 mentors are visible */
    margin-right: 200px;
}

.our-mentors {
    margin-top: 100px;
    font-size: 3em;
    margin-left: 600px;
}

/* Mentor Card Styles */
.mentor-card {
    background-color: transparent;
    color: #4caf50;
    padding: 10px;
    margin: 0px 0;
    border-radius: 10px;
    box-shadow: none;
    display: flex;
    align-items: center; /* Center items horizontally */
    width: fit-content;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 7s ease;
}

/* Stack name and hello box vertically */
.mentor-details {
    display: flex;
    flex-direction: column; /* Stack name and hello box vertically */
    align-items: flex-start; /* Align to the left */
}

/* Name box styles */
.mentor-name-box {
    background-color: white;
    border: 2px solid #b4e197;
    border-radius: 20px 0px 20px 0px;
    padding: 15px 45px;
    color: #4caf50;
    font-weight: bold;
    width: 200px;
}

/* Hello box styles */
.mentor-hello-box {

    padding: 8px;
    background-color: #A8D85D;
    margin-left: 30px;
    text-align: center;
    font-size: 14px;
    color: #333;
    width: 280px;
    height: 30px;
}

/* Circular element styles */
.mentor-circle {
    width: 100px;
    height: 100px;
    background-color:#ffffff;
    border-radius: 50%;
    margin-left: -60px; /* Space between name/hello box and circle */
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

/* Show cards with appropriate animations */
.mentor-card:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
}

.mentor-card:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s;

}

.mentor-card:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2s;
}

/* Exit animation for the first card */
.mentor-card.exit {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 3s ease, transform 1s ease;
}
