@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.navigation {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E2031;
  padding: 10px 20px;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 100px;
  margin-right: 40px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav-links li {
  position: relative;
  margin-left: 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  line-height: 68px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #CFFB8D;
  color: #a092bc;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 1px 10px;
  line-height: 68px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1em;
}

.dropdown-toggle:hover {
  background-color: #CFFB8D;
  color: #150f21;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #0E2031;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  min-width: 250px;
  margin-left: -100px;
  list-style-type: none;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content a:hover {
  background-color: #CFFB8D;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* For small screens up to 768px */
@media screen and (max-width: 1200px) {
  .mobile-menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #0E2031;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}

/* For medium screens between 769px and 1025px */

