.review-section {
    text-align: center;
    padding: 70px 0;
    background-image: url('/public/images/Review.png'); /* Replace with the correct path to your image */
    background-size: cover; /* Ensures the background covers the entire section */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents repeating of the background image */
    position: relative; /* Allows for overlaying of content on the background */
    z-index: 1;
    font-family: poppins;
}

.review-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Puts the overlay behind the content */
}


.review-title {
    font-size: 2.7rem;
    margin-bottom: 90px;
}

.highlight {
    color: #A8D85D; /* You can adjust the color for the highlight */
    font-weight: bold;
}

.review-card {
    background-color: #fff;
    border: 2px solid #FF7895; /* Pink border */
    border-radius: 10px;
    padding: 50px;
    width: 50%; /* Adjust the width to fit the design */
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    
}

.review-card {
    background-color: #fff;
    border: 2px solid #FF7895; /* Pink border */
    border-radius: 10px;
    padding: 40px;
    width: 50%; /* Adjust the width to fit the design */
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Styling for the quote icon container */
.quote-icon {
    position: absolute;
    top: -40px; /* Adjust this value as needed */
    left: -40px;
    width: 80px;
    height: 80px;
    background-color: #FF7895; /* Circle background color */
    border-radius: 50%; /* Makes the container circular */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family:open sans;
}

/* Styling for the double quote inside the circle */
.double-quote {
    font-size: 5rem; /* Adjust size of the quote */
    color: #fff; /* Inverted comma color */
}


.stars {
    color: #f1c40f; /* Star color */
    margin-bottom: 10px;
}

.filled-star {
    color: #f1c40f; /* Filled stars */
}

.empty-star {
    color: #ccc; /* Empty stars */
}

.review-author {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.review-text {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-top: 10px;
}

.review-dots {
    margin-top: 20px;
}

.dot, .active-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.active-dot {
    background-color: #FF7895; /* Active dot color */
}

.dot:hover {
    background-color: #FF7895;
}
